{{#> main}}
{{#*inline "content"}}

<header>
  <div class="nav">
    <div class='nav_header'>
      <img src="imagesM/icon_logo.svg" alt="">
    </div>

    <div class='nav_body'>
      <div class='botton_dashboard'>
        <div class='img_botton_dashboard'>
          <img src="imagesM/icon_dashboard.svg" alt="Ícone de dashboards">
        </div>

        <p>Dashboard</p>
      </div>

      <div class='botton_backups'>
        <div class='img_botton_backup'>
          <img src="imagesM/icon_backups.svg" alt="Ícone de backups">
        </div>

        <p>Backups</p>
      </div>

      <div class='botton_usuarios'>
        <div class='side_botton_usuarios'>
          <p></p>
        </div>

        <div class='img_botton_usuarios'>
          <img src="imagesM/botton_usuarios.svg" alt="Ícone de usuários">
        </div>

        <p>Usuários</p>
      </div>
    </div>

    <div class="nav_footer">
      <div class='nav_bottomn'>
        <img src="imagesM/icon_sair.svg" alt="Ícone de sair">

        <p>Sair</p>
      </div>
    </div>
  </div>
</header>

<div class="body_register">

    <div class="title_register">
      <h1>Usuário</h1>
    </div>

    <div class="area_register">
      <div class="formulario">
        .
      </div>
    </div>

</div>

{{/inline}}
{{/main}}