{{#> main}}
{{#*inline "content"}}

<div class="body">
  <div class="cabecalho">
    <h1>Usuários</h1>
    <span>Crie, gerencie e altere as credenciais de acesso ao sistema.</span>
  </div>

  <div class="container_table">

    <div class="menu_table">

      <div class="count_registers">
        <p>Todos</p>
        <label id="recordCount">X</label>
      </div>

      <div class="label_search">
        <img src="images/icon_search.svg" alt="icon_search">

        <input type="text" id="filter" placeholder="Buscar...">
      </div>

      <a href="/cadastrar_usuario" class="botomn_register">
        <button class="botomn_register">Cadastrar</button>
      </a>
    </div>

    <div class="area_listing_table">
      <table class="listing_table">
        <thead class="thead_listing_table">
          <tr>
            <th>Usuário</th>
            <th>Privilégio</th>
            <th>Último acesso</th>
            <th>Data de cadastro</th>
          </tr>
        </thead>

        <tbody class="tbody_listing_table">

          {{#each servidores}}

          <tr>
            <td>{{this.usuario}}</td>
            <td>{{this.privilegio}}</td>
            <td>{{this.ultimo_acesso}}</td>
            <td>{{this.data_cadastro}}</td>
          </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{/inline}}
{{/main}}