{{#> main}}
{{#*inline "content"}}
<!--  Row 1 -->
<header>
  <div class="nav">
    <div class='nav_header'>
      <img src="imagesM/icon_logo.svg" alt="">
    </div>

    <div class='nav_body'>
      <div class='botton_dashboard'>
        <div class='img_botton_dashboard'>
          <img src="imagesM/icon_dashboard.svg" alt="Ícone de dashboards">
        </div>

        <p>Dashboard</p>
      </div>

      <div class='botton_backups'>
        <div class='img_botton_backup'>
          <img src="imagesM/icon_backups.svg" alt="Ícone de backups">
        </div>

        <p>Backups</p>
      </div>

      <div class='botton_usuarios'>
        <div class='side_botton_usuarios'>
          <p></p>
        </div>

        <div class='img_botton_usuarios'>
          <img src="imagesM/botton_usuarios.svg" alt="Ícone de usuários">
        </div>

        <p>Usuários</p>
      </div>
    </div>

    <div class="nav_footer">
      <div class='nav_bottomn'>
        <img src="imagesM/icon_sair.svg" alt="Ícone de sair">

        <p>Sair</p>
      </div>
    </div>
  </div>
</header>

<div class="body">
  <div class='title'>
    <h1>Usuários</h1>
  </div>

  <div class="sub_title">
    <p>Crie, gerencie e altere as credenciais de acesso ao sistema.</p>
  </div>

  <div class="container_table">

    <div class="menu_table">

      <div class="count_registers">
        <p>Todos</p>
        <label id="recordCount">X</label>
      </div>

      <div class="label_search">
        <img src="imagesM/icon_search.svg" alt="icon_search">

        <input type="text" id="filter" placeholder="Buscar...">
      </div>

      {{!-- <button class="botomn_register">Cadastrar</button> --}}
      <a href="/cadastro/servidor" class="botomn_register">Cadastrar</a>
      
    </div>

    <div class="area_listing_table">
      <table class="listing_table">
        <thead class="thead_listing_table">
          <tr>
            <th>Usuário</th>
            <th>Privilégio</th>
            <th>Último acesso</th>
            <th>Data de cadastro</th>
          </tr>
        </thead>

        <tbody class="tbody_listing_table">

          {{#each servidores}}

            <tr>
              <td>{{this.usuario}}</td>
              <td>{{this.privilegio}}</td>
              <td>{{this.ultimo_acesso}}</td>
              <td>{{this.data_cadastro}}</td>
            </tr>
          
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/inline}}
{{/main}}