{{#> main}}
{{#*inline "content"}}

    <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">

                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Nome</h6>
                        </th>
                        
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Siap</h6>
                        </th>

                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Campus</h6>
                        </th>

                      </tr>
                    </thead>

                    <tbody>

                      {{#each servidores}}
                      <tr>

                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">{{inc @index}}</h6>
                        </td>

                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{this.usuario}}</h6>                     
                        </td>

                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{this.siape}}</p>
                        </td>

                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{this.campus.nome}}</p>
                        </td>

                      </tr>
                      {{/each}}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{{/inline}}
{{/main}}