@font-face {
    font-family: inter_font;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf) format(truetype);

    font-family: Poppins;
    src: url(icons/tabler-icons/fonts/Poppins-Regular.ttf) format(truetype);
}

* {
    font-family: Poppins;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav {
    height: 100vh;
    width: 270px;
    background-color: white;
    border-right: 1px solid #D9D9D9;
}

/* Botões de navegação */

.nav_header {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botton_dashboard {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.img_botton_dashboard img {
    width: 15px;
    height: 16px;
    padding-right: 20px;
}

/* --- */

.botton_backups {
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: left;

    padding-top: 10px;
    padding-bottom: 575px;
    padding-left: 28%;
}

.img_botton_backup img {
    width: 15px;
    height: 16px;
    padding-right: 20px;
}

/* --- */

.botton_usuarios {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
}

.side_botton_usuarios {
    border-radius: 9px;
    border-left: 5px solid #2C2D2F;
    margin-left: 1px;
    height: 33px;
}

.img_botton_usuarios {
    padding-left: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img_botton_usuarios img {
    width: 35px;
    height: 16px;
}



.nav_footer {
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bottomn {
    width: 138px;
    height: 30px;
    background-color: #F9F9F9;

    display: flex;
    justify-content: left;
    align-items: center;

    border: 1px solid #C3C5CE;
    border-radius: 8px;
}

.nav_bottomn img {
    padding-left: 10px;
    display: flex;
    justify-content: left;
}

.nav_bottomn p {
    padding: 35px;
}

.cabecalho {
    margin: 40px 0 0 70px;
}

.cabecalho_line {
    border: 1px solid #6F738280;
    margin-bottom: 70px;
    width: 1500px;
}

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area_form {
    background-color: #F6F8FA;
    width: 800px;
    height: 650px;
    overflow: hidden;
}

.cabecalho_area_form {
    margin-top: 60px;
    margin-left: 30px;
}

.area_inputs_geral {
    height: 320px;

    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.area_inputs {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.area_inputs p {
    color: #2C2D2F;
    margin: 0 0 5px 0;
    font-size: 19px;
}

.area_inputs input {
    border-radius: 8px;
    border: 1px #FFFFFF solid;
    width: 300px;
    height: 30px;
}

.msg {
    width: 100%;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.msg p {
    font-size: 22px;
    color: #375D54;
}

.area_line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 680px;
    border-bottom: solid 1px #6F7382;
}

.area_buttons {
    width: 100%;
    height: 100px;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel button {
    border-radius: 8px;
    width: 160px;
    height: 50px;

    font-size: 15px;
    margin-right: 100px;
}

.save button {
    border-radius: 8px;
    width: 160px;
    height: 50px;
    font-size: 15px;

    background-color: #2C2D2F;
    color: #FFFFFF;
}